*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/gradle.xml
.DS_Store
/build
/captures
java_pid*.hprof
.idea

AndroidYoutubePlayerNuget/.vs
AndroidYoutubePlayerNuget/bin
AndroidYoutubePlayerNuget/obj

AndroidYoutubePlayerNuget.Net/.vs
AndroidYoutubePlayerNuget.Net/bin
AndroidYoutubePlayerNuget.Net/obj